/*
body {
  background: url(../images/bg.png) left top repeat-x
}
*/

.logo {
  font-size: 5em;
}

div.logo a:link,a:visited,a:hover,a:active {
  text-decoration: none;
  color: #126D7C;
}
	
a.category:link,a.category:visited,a.category:hover,a.category:active {
	font-size: 2em;
	text-decoration: none;
	color: #000099;
}

a.product_type:link,a.product_type:visited,a.product_type:hover,a.product_type:active {
    font-size: 2em;
    text-decoration: none;
    color: #003399;
}

a.brand:link,a.brand:visited,a.brand:hover,a.brand:active {
    font-size: 2em;
    text-decoration: none;
    color: #003399;
}

a.model:link,a.model:visited,a.model:hover,a.model:active {
    font-size: 2em;
    text-decoration: none;
    color: #003399;
}

//.container { background: white }