/*
body {
  background: url(../images/bg.png) left top repeat-x
}
*/

.logo {
  font-size: 5em
}

.logo a:link {
  text-decoration: none;
  color: #126D7C;
}
.logo a:visited {
  text-decoration: none;
  color: #126D7C;
}
.logo a:hover {
  text-decoration: none;
  color: #126D7C;
}
	

//.container { background: white }